

:root {
    --font-base: "DM Sans", sans-serif;

    --primary-color: #edf2f8;
    --secondary-color: #313bac;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;
    --yellow-color: #ffd321;
    --primary-background-color: linear-gradient(white, #3A3A3A);

    /* Dark mode colors */
    --dark-primary-color: #1a202c;
    --dark-secondary-color: #f8f8f8;
    --dark-black-color: #f8f8f8;
    --dark-lightGray-color: #333333;
    --dark-gray-color: #d2d6dc;
    --dark-brown-color: #1a202c;
    --dark-white-color: #1a202c;
    --dark-yellow-color: #ffc107;

    
}
.content{
    background: var(--primary-background-color);
    height: 100%;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
html, body{
    
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}



