
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: linear-gradient(white, rgb(34, 34, 34));
  }
  
  .content {
    padding: 2rem;
    text-align: center;
    background-color: linear-gradient(white, rgb(34, 34, 34));
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #555;
  }


