@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--header-color-dark);
    height: 10vh;
    background-size: cover;
    background-position: center;
  }

  
.app__navbar-logo {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
    color: white;
    font-size: 2rem;
    transition: all 0.15s ease-in-out;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
}

.app__navbar-logo:hover{
    font-size: 2.2rem;
}

.app__navbar-links{
    width: 62%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

}

.app__linkButton{
    margin: 0 0 0 2.5rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: var(--black-color);
    background-color: var(--primary-color);
    border-radius: 15%;
    transition: all 0.2s ease-in-out;
    font-weight: 600;

}

.app__linkButton:hover{
    font-size: 1.2rem;
    background-color: var(--hover-color);
    box-shadow: 6px 6px 6px rgba(0,0,0,0.1),
    -6px -6px 6px rgba(255,255,255,0.1);
    cursor: pointer;
}


.points_img{
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
    transition: all 0.2s ease-in-out;
}

.app__linkButton:hover > .points_img{
    width: 2rem;
}

.app__narbar-credit{

}
.app__narbar-store{

}