.app__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
  }
  
  .app__navbar-logo {
    color: white;
    font-size: 1.5rem;
  }
  .app__navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .app__linkButton{
    margin: 0 2rem;
    padding: 1rem 1rem;
    font-size: 1rem;
    color: black;
    background-color: #ffffff;
    border: none;
    
  }

  .app__linkButton:hover{
    background-color: #45a049;
    
  }

  .app__narbar-credit{

  }
  .app__narbar-store{

  }
  .app__narbar-login {
    background-color: #4CAF50;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .app__narbar-login:hover {
    background-color: #45a049;
  }